# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/spgg-front/node_modules
/spgg-front/.pnp
/spgg-front/.pnp.js

# testing
/spgg-front/coverage

# next.js
/spgg-front/.next/
/spgg-front/out/

# production
/spgg-front/build

# misc
.DS_Store
/spgg-front/*.pem

# debug
/spgg-front/npm-debug.log*
/spgg-front/yarn-debug.log*
/spgg-front/yarn-error.log*
/spgg-front/.pnpm-debug.log*

# local env files
/spgg-front/.env*.local

# vercel
/spgg-front/.vercel
